.App {
  margin:0;
  padding:0;
  background:white;
  font-family: 'Ubuntu', sans-serif;
}



nav{
  margin: 0;
  padding:.8em;
  margin-bottom: .4em;
  background:#FAFAFA;
  box-shadow:3px 0 3px black;
}

nav a{
  color:black;
}

nav h1{
  margin: 0;
  padding:0;
  margin-left: -3px;
  text-align: left;
  display: inline-block;
  letter-spacing: -3px;
  color: #0D3B66;

}

nav h1:hover{
animation: rainbow 7s linear;
animation-iteration-count:infinite;
}

footer{
  text-align: center;
  margin: 0;
  padding:.8em;
  background:#FAFAFA;
  box-shadow:3px 0 3px black;
}

footer h1{
  display: inline;
}

footer h1 i {
  padding-right: .5em;
  color:#00d8ff;
  font-size:2em;
  display: inline;
}

.react{
  color:#00d8ff;
  text-decoration: none;
}



#wrapper{
  width: 100%;
  height:840px;
}


#information-div{
  background: linear-gradient(to right,rgba(0,0,0,.5), rgba(0,0,0,.7), transparent), url("./images/background.jpg") no-repeat center;
  background-size: cover;
  height:100%;
}

#information-div p{
  width:50%;
  text-align: center;
  margin:auto;
}

.alphavantage-link{
  text-decoration: none;
  color:#42DCA3;
  transition: opacity .5s;
}

.alphavantage-link:hover{
opacity:.5;
}


#header{
  margin:0;
  padding-top:10rem;
  text-align: center;
  font-size:5rem;
  color:#FAFAFA;
  letter-spacing:10px;
  text-shadow: 0 0 15px #FAFAFA
}

#header span{
  font-size:8rem;
  animation: rainbow 7s linear;
  animation-iteration-count:infinite;
}

.header-text{
  color:white;
  padding-top:5rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing:2px;
}

.go-to-btn{
margin-top:5em;
margin-left:45%;
width:250px;
padding: 25px;
border:none;
font-family: 'Ubuntu', sans-serif;
font-size: 1.5rem;
background:dodgerblue;
opacity:.3;
color: white;
transition:opacity .5s;
cursor: pointer;
}

.go-to-btn:hover{
  opacity:1;
}

#tutorial-div{
  height:950px;
  background-color: #FAFAFA;
}

#tutorial-div section{

  width:50%;
  display: inline-block;
  float:left;
  height: 100%;
  overflow: hidden;
}



#tutorial-div section p{
  width:50%;
  text-align: justify;
  letter-spacing: 1px;
  color: #2B4162;
  font-size: 20px;
  line-height: 28px;
  margin-left:20%;
  padding-top: 1em;

}

#tutorial-div section a{
  text-decoration: none;
  color:#42DCA3;
  transition: opacity .5s;
}

#tutorial-div section a:hover{
opacity:.5;
}


#tutorial-div .aside{
  height: 100%;
  width:49.9%;
  display: inline-block;
  float:left;
  border-left:1px solid #2B4162;
  box-shadow: -1px 0 5px #2B4162;
}


#section-head{
  display: block;
  margin:auto;
  margin-left:15%;
  padding-top: 1em;
  font-size:3rem;
  letter-spacing: 8px;
  color: #0D3B66;
}

#section-head h1,h2{
  display:inline;
}

#section-head h1{
  font-size:2em;
}

#tutorial-div aside img{

padding: 3em 0;
display: block;
margin-left: auto;
margin-right: auto;


}

.alpha{
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  display: inline;
}

.vantage{
  font-size: 20px;
  line-height: 28px;
  display: inline;
  font-weight: lighter;
}



.dollar{
  display:inline-block;
  color:dodgerblue;
  font-size: 2.5em;
  animation: rainbow 7s linear;
  animation-iteration-count:infinite;
  margin:0;
  padding:0;
  text-align: left;
}


@keyframes rainbow {
  0%{color:dodgerblue;}
  20%{color:red;}
  40%{color:orange;}
  60%{color:yellow;}
  80%{color:green;}
  100%{color:dodgerblue;}
}

@media screen and (max-width:990px) {

  nav{
    position: fixed;
    width:100%;
  }

  #information-div{
    overflow:hidden;
  }

.alpha, .vantage{
  font-size: 5vw;
}

  #information-div h1{
    font-size: 4rem;
  }

  #information-div h1 span{
    font-size: 6rem;
  }


  #information-div p{
    width:99%;
    font-size:4vw;
  }

  .go-to-btn{
    margin:0;
    font-size: 5vw;
    padding:1em;
    margin-left:35vw;

  }

  #tutorial-div{
    height:600px;
  }

 #tutorial-div section{
   clear:both;
   display: block;
   width: 100%;
 }

 #section-head{
   margin:0;
   padding:0;
   font-size:2rem;
   text-align: center;
   padding-top: 1rem;
 }

 #tutorial-div section p{
   margin:0;
   padding:0;
   width:80%;
   text-align: justify;
   padding:.5rem;
   margin:auto;
   font-size:1rem;
 }

 #tutorial-div .aside{
   clear:both;
   display: none;
   width: 100%;
   height:500px;
 }

 #tutorial-div .aside img{
   width:50%;
 }

 .form-div{
   width: 100%;
   padding:0;
   margin:0;
 }

#search{
  margin:0;
  padding: 0;
}

#search-list{
  width:100%;
  margin:0;
  padding:0;
}

.searchele-container{
  width:25vw;
}



}
